<article class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                {{beneficiary.relation}}
            </div>
            <div class="col-md-3">
                {{beneficiary.first_name}}
            </div>
            <div class="col-md-3">
                {{beneficiary.last_name}}
            </div>
            <div class="col-md-3">
                {{beneficiary.id}}
            </div>
        </div>
    </div>
    <footer class="panel-footer">
        <div class="config pull-left">
            <a (click)="onEdit()">ערוך</a>
            <a (click)="onDelete()">הסר</a>
        </div>
        <div class="clearfix"></div>
    </footer>
</article>
