<header class="bg-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h1>משפט כאן</h1>
                <button class="btn btn-primary btn-large" [routerLink]="'/will'">התחלה - צור צוואה</button>
                <button class="btn btn-primary btn-large" (click)="onSubmit()">התחלה - צור צוואה</button>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row" id="adv-row">
        <div class="adv-item">
            <div class="col-md-4">
                <div class="jumbotron">
                    <div class="col-md-4pull-right ">
                        <img vspace="20" class="jumbotronwidth" alt=" " src="https://unsplash.it/200" id="adv-img">
                    </div>
                    <div class="col-md-8">
                        <h1>כותרת ליתרון א</h1>
                        <p>

                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="#">Learn more</a>&nbsp;<a
                                class="btn btn-primary btn-large" href="#">Extras</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            advB
        </div>
        <div class="col-md-4">
            advC
        </div>
    </div>
</div>
<p>{{willExists}}</p>
<div *ngIf="willExists == true">
    <p>{{willPdfStr}}</p>
    <iframe src="data:application/pdf;base64, pdf()" style="width:718px; height:700px;" frameborder="0"></iframe>
</div>
