/* Home CSS */
/* -------- */


/* background img */

.bg-img{
    background-image: url("../res/img/home-bg.jpg");
}

/*
    advantage item
    --------------
*/
.fill{
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
