<div class="row">
    <div *ngIf="!addBeneficiary">
        <div class="col-md-2">
            <h3>הוסף מוטב ראשי</h3>
        </div>
        <div class="col-md-3">
            <i class="fa fa-3x fa-plus-square-o center-block" (click)="addBeneficiaryFunc()"
               style="font-weight: bolder; cursor: pointer;"></i>
        </div>
    </div>
    <div *ngIf="addBeneficiary">
        <div class="col-md-2">
            <h3> מוטב ראשי</h3>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12 col-md-5 pull-right required">
            <div class="form-group">
                <label for="mainBeneficiaryOptions" class="control-label">מוטב ראשי</label>
                <select name="mainBeneficiaryOptionsName" id="mainBeneficiaryOptions" #t class="form-control input-lg"
                        (change)="onSelect(t.value)">
                    <option selected disabled>בחר</option>
                    <option value="-1">הוסף חדש</option>
                    <option *ngFor="let o of beneficiariesNames; let i = index;" [value]="i" (click)="onSelect(i)">{{o}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div *ngIf="newBeneficiary"> <!-- New Beneficiary -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()"> <!-- Beneficiary details  -->
        <div class="row"> <!-- Row 1: basic details (name, relations, id) -->
            <div class="col-md-2">
                <h4>פרטים</h4>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="relationsOptions" class="control-label">קרבה</label>
                    <select name="relationsOptionsName" id="relationsOptions" #t class="form-control input-lg"
                            (change)="onSelectRelations(t.value)">
                        <option selected disabled>בחר</option>
                        // https://scotch.io/tutorials/how-to-deal-with-different-form-controls-in-angular-2
                        <option *ngFor="let o of relationsOptions; let i = index;" value="i"
                                (click)="onSelectRelations(i)">{{o}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="first_name">שם פרטי</label>
                    <input type="text" class="form-control" id="first_name"
                           formControlName="first_name">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="last_name">שם משפחה</label>
                    <input type="text" class="form-control" id="last_name"
                           formControlName="last_name">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="id">מספר תעודת זהות</label>
                    <input type="text" class="form-control" id="id"
                           formControlName="id">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="birth_date">תאריך לידה</label>
                    <input type="text" class="form-control" id="birth_date"
                           formControlName="birth_date">
                </div>
            </div>
        </div ><!-- /Row 1: basic details (name, relations, id) -->
        <div class="row"> <!-- Row 2: Genders -->
            <div class="col-md-5">
                <div class="radio-inline" *ngFor="let g of genders">
                    <label>
                        <input type="radio"
                               formControlName="gender"
                               [value]="g">
                        {{g}}
                    </label>
                </div>
            </div>
        </div><!-- /Row 2: Genders -->
        <div class="row"> <!-- Row 3: address -->
            <div class="col-md-2">
                <h4>כתובת מגורים:</h4>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="street">רחוב</label>
                    <input type="text" class="form-control" id="street"
                           formControlName="street">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="house">מספר רחוב</label>
                    <input type="text" class="form-control" id="house"
                           formControlName="house">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="entry">כניסה</label>
                    <input type="text" class="form-control" id="entry"
                           formControlName="entry">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="apartment">מספר דירה</label>
                    <input type="text" class="form-control" id="apartment"
                           formControlName="apartment">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="city">עיר</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
            </div>
            <button type="button"
                    class="btn btn-primary btn-lg pull-left"
                    (click)="onSubmit()"
                    [disabled]="!form.valid">הוסף מוטב חדש
            </button>
        </div><!-- /Row 3: address -->
    </form> <!--  /Beneficiary details -->
</div><!-- /New Beneficiary -->

<div *ngIf="setBeneficiary"><!-- Set Beneficiary -->

    <app-beneficiary [beneficiary]="displayedBeneficiary"></app-beneficiary>

</div><!-- /Set Beneficiary -->

<!--
    <article *ngIf="clickedMainBeneficiary" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    {{beneficiaryMain.first_name}}
                </div>
                <div class="col-md-3">
                    {{beneficiaryMain.last_name}}
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="config">
                <a (click)="onEdit()">Edit</a>
                <a (click)="onDelete()">Delete</a>
            </div>
        </footer>
    </article>
-->

