<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="form-main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">כותרת כאן</div>
                    </div>
                    <div class="panel-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-sidebar">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="http://placehold.it/400x400" alt=" " class="img-responsive center-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
