<article class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                {{asset.asset_type}}
            </div>
            <div class="col-md-3">
                {{asset.asset_sub_type}}
            </div>
            <div class="col-md-3">
                {{asset.asset_description.address.street}}
            </div>
        </div>
    </div>
    <footer class="panel-footer">
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>