<div class="row"><!-- Asset row -->
    <div class="col-md-8 col-md-offset-2">
        <will-asset [asset]="asset"
        *ngFor="let asset of assets"></will-asset>
    </div>
</div><!-- Asset row -->


<div class="row"><!-- Add asset row -->


    <div class="col-md-3 col-md-offset-1">
        <h2>הוספת נכס מקרקעין</h2>
    </div>
    <div class="col-md-3">
        <i class="fa fa-3x fa-plus-square-o center-block p-t-4" aria-hidden="true" data-toggle="modal"
           data-target="#form1Modal"
           style="font-weight: bolder; cursor: pointer;"></i>
    </div>
</div>

<!-- form1Modal -->
<div class="modal fade" id="form1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">הוספת נכס מקרקעין</h4>
            </div>
            <div class="modal-body">
                <will1-asset-form [formDescriptor]="assetFormDescriptor"></will1-asset-form>
            </div>
        </div>
    </div>
</div>

<!-- Will1 Submit & continue -->
<div class="row">
    <div class="col-md-5 col-md-offset-5">
        <button type="button" class="btn btn-lg btn-primary pull-left" (click)="onSubmit()">המשך</button>
    </div>
</div>


