<form [formGroup]="assetForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-2">
            <h3>נכס מסוג: </h3>
        </div>
        <div class="col-md-5">
            <div class="form-group">


                    <label for="assetOptions" class="control-label">בחר נכס</label>
                    <select name="assetOptionsName" id="assetOptions" #t class="form-control input-lg" (change)="onSelect(t.value)">
                        <option selected disabled>בחר</option>
                        <option *ngFor="let o of mainTypeOptionsHeb; let i = index;" [value]="i">{{o}}</option>
                    </select>

            </div>
        </div>
    </div>

    <div [ngSwitch]="switch_value"> <!-- CASE asset real estate -->

        <div *ngSwitchCase='"option1"'><!-- Asset Apartment/ General house -->

            <div class="row"> <!-- Address -->
                <div class="col-md-2">
                    <h4>כתובת:</h4>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="street1">רחוב</label>
                        <input type="text" class="form-control" id="street1"
                               formControlName="street">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="house1">מספר רחוב</label>
                        <input type="text" class="form-control" id="house1"
                               formControlName="house">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="entry1">כניסה</label>
                        <input type="text" class="form-control" id="entry1"
                               formControlName="entry">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="apartment1">מספר דירה</label>
                        <input type="text" class="form-control" id="apartment1"
                               formControlName="apartment">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city1">עיר</label>
                        <input type="text" class="form-control" id="city1" formControlName="city">
                    </div>
                </div>
            </div> <!-- Address End -->

            <div class="row"> <!-- Legal Address -->
                <div class="col-md-2">
                    <h4>פרטים נוספים:</h4>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="group1">מספר גוש</label>
                        <input type="text" class="form-control" id="group1"
                               formControlName="group">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="section1">חלקה</label>
                        <input type="number" class="form-control" id="section1"
                               formControlName="section">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="subsection1">תת חלקה</label>
                        <input type="text" class="form-control" id="subsection1"
                               formControlName="sub_section">
                    </div>
                </div>
            </div> <!-- Legal address End -->

        </div><!-- Asset Apartment End -->


        <div *ngSwitchCase='"option2"'><!-- Asset private house -->
            <div class="row">
                <div class="col-md-2">
                    <h4>כתובת:</h4>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="street2">רחוב</label>
                        <input type="text" class="form-control" id="street2"
                               formControlName="street">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="house2">מספר רחוב</label>
                        <input type="text" class="form-control" id="house2"
                               formControlName="house">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="entry2">כניסה</label>
                        <input type="text" class="form-control" id="entry2"
                               formControlName="entry">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city2">עיר</label>
                        <input type="text" class="form-control" id="city2" formControlName="city">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>פרטים נוספים:</h4>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="group2">מספר גוש</label>
                        <input type="text" class="form-control" id="group2"
                               formControlName="group">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="section2">חלקה</label>
                        <input type="text" class="form-control" id="section2"
                               formControlName="section">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="subsection2">תת חלקה</label>
                        <input type="text" class="form-control" id="subsection2"
                               formControlName="sub_section">
                    </div>
                </div>
            </div>
        </div> <!--Asset private house -->


        <hr>
        <app-beneficiary-main></app-beneficiary-main>
        <hr>
        <app-beneficiaries></app-beneficiaries>

    </div> <!-- CASE asset real estate -->

    <button type="button" class="btn btn-primary btn-lg pull-left" (click)="onSubmit()" [disabled]="!assetForm.valid"
            data-dismiss="modal">הוסף נכס
    </button>
    <div class="clearfix"></div>
</form>
