<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">


                <form [formGroup]="will1Form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="user-firstName">שם פרטי</label>
                                <input type="text" class="form-control" id="user-firstName" formControlName="user-firstName">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="form-group">
                                <label for="user-lastName">שם משפחה</label>
                                <input type="text" class="form-control" id="user-lastName" formControlName="user-lastName">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg pull-left" [disabled]="!will1Form.valid">המשך</button>
                    <div class="clearfix"></div>
                </form>

            </div>
        </div>
    </div>
</div>


